<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

	<header class="splash-title">
		<h1>
			{{ site.title }}
			<div><small>{{ site.description }}</small></div>
			<div><small>
					<a href="mailto:{{ site.email }}">Email</a> ·
					<a href="{{ site.github }}">github</a> ·
					<a href="{{ site.linkedin }}">Linkedin</a>
					</small></div>
		</h1>
	</header>

	<div class="container content">
	  <main>
		{{ content }}
	  </main>

	  <footer class="footer">
		<small>
		  &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
		</small>
	  </footer>
	</div>
  </body>
</html>
